/*
*
* versao normal do css.
* versao usada em login.css = c.css (minified)
*
*/
.containerLg {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #efefef;
}

h3 {
    text-shadow: 1px 2px 0 grey;
    margin-top: -5px
}
h3 > span {
    font-size: 0.4em !important;
    color: grey;
    text-shadow: none;
    font-style: italic;
    height: 2.2em;
    align-self: flex-end;
}

pre {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
